<div id="forecast-current" class="forecast-content active-forecast">

	{{!-- <h3>Temps Actuel</h3> --}}

	<div id="current-date-time">
		<div class="date">{{current.dayName}} {{current.dayNb}} {{current.month}}</div>
		<div class="time">{{current.hour}} h {{current.minute}}</div>
	</div>

	<div id="current-temp">
		<div class="temp">{{current.temp}}°C</div>
		<div class="feels-like">resenti {{current.feels_like}}°C</div>
	</div>
	
	{{#each current.weather}}
		<img class="current-picture" src="/img/weather-app/{{this.picture}}.gif" alt="{{this.picture}}">
		<div class="current-description">{{this.description}}</div>
	{{/each}}

	<div id="current-humidity">Humidité: {{current.humidity}}%</div>
	<div id="current-coulds">Couverture nuageuse: {{current.clouds}}</div>
	<div id="current-wind">
		<div>
			Vent: 
			{{current.wind_speed}}km/h 
			{{current.wind_direction}}
		</div>
			<div class="arrow" style="transform-origin: center; transform: rotate({{current.wind_deg}}deg);"></div>
	</div>

</div>

{{!-- 
    forecast.current = {
        dayName: weekDayNames[dateTZ.getDay()],
        dayNb: dateTZ.getDate(),
        month: monthNames[dateTZ.getMonth()],
        temp: Math.round(data.current.temp * 10) / 10,      // only one decimal digit
        feels_like: Math.round(data.current.feels_like * 10) / 10,
        humidity: data.current.humidity,
        clouds: data.current.clouds,
        wind_speed: convertWindSpeed(data.current.wind_speed),  // We want some km/h
        wind_direction: getWindDirection(data.current.wind_deg),
        weather: getWeatherDescriptions(data.current.weather),
			description
			picture
    }
 --}}

